html{
    text-align: center;
    align-content: center;
    background: rgb(177, 140, 197);
}
div > img{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 85%;
    left: 46%;
    transition: 1s;
    z-index: -100;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    font-family: Comic Sans MS;
    background: rgb(71, 62, 189);
    color: white;
    text-shadow: 0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000,
    0px 0px 2px #000000;
}
img#header{
    width: 50%;
}
button#Govern{
    padding: 1%;
    margin: 5%;
    border-radius: 15%;
    border: outset 5px dimgray;
    font-family: Comic Sans MS;
    font-size: 100%;
    color: white;
        text-shadow: 0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000;
    background: linear-gradient(0deg, rgba(93,16,162,1) 0%, rgba(255,144,86,1) 68%);
    transition: 1s;
}
button#Nixon{
    padding: 1%;
    margin: 5%;
    border-radius: 15%;
    border: outset 5px dimgray;
    font-family: Comic Sans MS;
    font-size: 100%;
    color: white;
        text-shadow: 0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000,
        0px 0px 2px #000000;
    background: linear-gradient(0deg, rgba(93,16,162,1) 0%, rgba(255,144,86,1) 68%);
    transition: 1s;
}
button#Nixon:hover{
    font-size: 1000%;
    transition: font-size 10s;
    cursor: pointer;
}
button#Govern:hover{
    font-size: 0.001%;
    transition: font-size 10s;
    cursor: help;
}